<nav class="flex justify-between container mx-auto py-4">
  <!-- logo -->
  <div class="flex-centered">
    <img src="./assets/logo.svg" alt="coupled-logo" class="w-8" />
    <h2 class="font-semibold capitalize text-2xl">coupled</h2>
  </div>
  <!-- form -->
  <form class="flex-centered gap-6">
    <input
      type="text"
      class="bg-transparent border rounded-full w-60 px-2 py-1.5 outline-none"
      placeholder="Username"
    />
    <input
      type="password"
      class="bg-transparent border rounded-full w-60 px-2 py-1.5 outline-none"
      placeholder="Password"
    />
    <button class="bg-primary px-8 py-1.5 rounded-full rounded-tr-none">
      Login
    </button>
  </form>
</nav>
