<div class="btn-group" dropdown>
  <button type="button" class="btn btn-danger">Welcome Bala</button>
  <button
    id="button-split"
    type="button"
    dropdownToggle
    class="btn btn-danger dropdown-toggle dropdown-toggle-split"
    aria-controls="dropdown-split"
  >
    <span class="caret"></span>
    <span class="sr-only visually-hidden">Split button!</span>
  </button>
  <ul
    id="dropdown-split"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-split"
  >
    <li role="menuitem">
      <a class="dropdown-item" href="#">Profile</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Settings</a>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <button class="dropdown-item" (click)="onLogout()">Logout</button>
    </li>
  </ul>
</div>
