<header class="border grid grid-cols-[0.5fr,1fr] items-center">
  <div class="space-y-6">
    <div class="text-4xl space-y-2">
      <h1>Find the missing piece</h1>
      <h1>Get <span class="text-primary font-bold">coupled</span></h1>
    </div>
    <p>
      Adipisicing pariatur dolor laborum exercitation do incididunt aliqua elit
      occaecat labore nostrud. Nostrud non irure aliquip et adipisicing aute
      aliqua nisi duis nisi. Occaecat ipsum consequat duis duis enim laboris
      pariatur aliqua ea id. Sunt quis est Lorem deserunt nostrud magna enim.
    </p>
    <button
      class="bg-primary px-8 py-1.5 rounded-full rounded-tr-none hover:rounded-tr-full hover:bg-pinkish duration-150"
    >
      Make a profile
    </button>
  </div>
  <div class="flex-centered">
    <img src="./assets/hero.svg" alt="header-image" />
  </div>
</header>
