<section
  class="container-centered grid grid-cols-[1fr,3fr] text-body-light gap-4"
>
  <!-- left side member information -->
  <div
    class="bg-white rounded-2xl font-bold flex flex-col justify-center items-center p-4 space-y-8 text-center"
    *ngIf="member"
  >
    <img [src]="member.photoUrl" class="w-60 h-60 rounded-full bg-gray-400" />
    <div>
      <h2 class="text-3xl capitalize">{{ member.userName }}</h2>
      <p class="capitalize">{{ member.city }}, {{ member.country }}</p>
      <p>{{ member.age }} years</p>
    </div>
    <div>
      <p>Member Since</p>
      <p class="text-xs font-normal">{{ member.createdAt }}</p>
    </div>
    <div>
      <p>Last Active</p>
      <p class="text-xs font-normal">{{ member.lastActive }}</p>
    </div>
    <div class="flex-centered">
      <button class="round-btn">
        <fa-icon [icon]="heartIcon"></fa-icon>
      </button>
      <button class="round-btn">
        <fa-icon [icon]="messageIcon"></fa-icon>
      </button>
    </div>
  </div>
  <!-- right side tabbed section -->
  <app-member-tab [member$]="member$"></app-member-tab>
</section>
