<nav class="flex justify-between container mx-auto py-4">
  <!-- logo -->
  <app-nav-logo></app-nav-logo>

  <!-- links -->
  <ul class="flex-centered gap-12" *ngIf="authService.user$ | async">
    <li>
      <a class="link" routerLink="">Home</a>
    </li>
    <li>
      <a class="link" routerLink="members">Explore</a>
    </li>
    <li>
      <a class="link" routerLink="favorites">Favorites</a>
    </li>
    <li>
      <a class="link" routerLink="messages">Messages</a>
    </li>
    <li class="relative">
      <button
        class="chat-btn py-1.5"
        [ngClass]="getButtonClasses()"
        (click)="toggleButton()"
      >
        Welcome Lisa
        <fa-icon class="ml-1 text-lg" [icon]="arrowIcon"></fa-icon>
      </button>
      <div *ngIf="isButtonOpen" [ngClass]="btnContainerClasses">
        <a
          [ngClass]="innerBtnClasses"
          routerLink="member/edit"
          (click)="toggleButton()"
          >Edit Profile</a
        >
        <button [ngClass]="innerBtnClasses" (click)="onLogout()">Logout</button>
      </div>
    </li>
  </ul>

  <!-- form -->
  <app-nav-login *ngIf="!(authService.user$ | async)"></app-nav-login>
</nav>
